@font-face {
    font-family: NexaText;
    src: url(/fonts/NexaText.ttf);
}

.game-col:nth-child(1) {
    margin-left: 1rem;
} 

.game-col:nth-child(2) > h1 {
    font-family: 'NexaText';
    padding: 0;
    margin: 0;
} 

.game-row {
    margin-bottom: 2rem;
    color: white;
    text-shadow: 0px 5px 15px #000000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 0;
    margin-left: 0;
    font-family: 'Jost', sans-serif;
    height: 1rem;
}

.game-col {
    max-width: 33%;
    padding: 1rem;
}

.crown {
    margin-left: 5px;
    margin-right: 5px;
    height: 2rem;
    display: none;
}

.winner {
    display: inline-block;
}

p, h1{
    margin-bottom: 0;
}

.timeTag {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
	transform: translateX(-50%);
    white-space: nowrap;
    text-shadow: 0px 5px 15px #5e5e5e;
    color: rgb(229, 229, 229);
}

.text-center {
    width: 100%;
    position: relative;
    height: 100%;
}

.spinner-border {
    display: block;
    position: fixed;
    top: calc(50% - (58px / 2));  
    right: calc(50% - (58px / 2));
    color: #262626;
}

.invis {
    visibility: hidden;
}

@media only screen and (min-width: 600px) {
    .placeholder, .games {
      width: 75%;
    }
}