.controlButton {
    font-size: 2rem !important;
}

.controlButton:focus, .controlButton:active, .back:focus, .back:active, .back:hover {
	outline: none !important;
	box-shadow: none !important;
}

.back {
	position: fixed;
	top: 2rem;
	right: 3rem;
	font-size: 2rem !important;
	background-color: #fc4c4f !important;
	color: white !important;
	cursor: pointer;
	border-radius: 4px;
	width: 4rem;
	height: 4rem;
	z-index: 999;
}