.controlButton {
    font-size: 2rem !important;
}

.controlButton:focus, .controlButton:active, .back:focus, .back:active, .back:hover {
	outline: none !important;
	box-shadow: none !important;
}

.back {
	position: ab;
	top: 2rem;
	right: 3rem;
	font-size: 2rem !important;
	background-color: #fc4c4f !important;
	color: white !important;
	cursor: pointer;
	border-radius: 4px;
	width: 4rem;
	height: 4rem;
	z-index: 999;
}

@media only screen and (max-width: 575px) {
    .back {
		top: 0 !important;
		left: 0 !important;
		width: 2.5rem;
		height: 2.5rem;
		font-size: 1.5rem !important;
    }
}