html,
body {
    height: 100%;
    background-image: url('/img/bg.png');  
    animation: animatedBackground 40s linear infinite;
    -moz-animation: animatedBackground 40s linear infinite;
    -webkit-animation: animatedBackground 40s linear infinite;
    -ms-animation: animatedBackground 40s linear infinite;  
    -o-animation: animatedBackground 40s linear infinite;
}

@keyframes animatedBackground {
    0% { background-position: 0 0px; }
	100% { background-position: -1920px -1130px; }
}