.blogs {
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.btn {
    background-color: #262626 !important;
    border-color: #262626;
}

.btn:hover {
    background-color: #999 !important;
    border-color: #999;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.preview {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.invis {
    visibility: hidden;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.placeholder-background {
    border-color: #26262600;
}

.post-btn {
    height: 3rem;
    /* aspect-ratio: 1; */
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.post-btn > i {
    margin-left: 12px;
}

.post-button {
    position: absolute;
    bottom: 5rem;
    left: 2rem;
}

.card-content-container {
    height: 5rem;
}

.hide-partial {
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}