.blogs {
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.btn {
    background-color: #262626 !important;
    border-color: #262626;
}

.btn:hover {
    background-color: #999 !important;
    border-color: #999;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.preview {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.invis {
    visibility: hidden;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.placeholder-background {
    border-color: #26262600;
}