footer {
    background-color: #262626 !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
    background-color: #262626;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    color: #999 !important;
}

.footer a {
    color: rgb(211, 211, 211) !important;
    transition: ease-in-out color .15s !important;
    text-decoration: none !important;
}

.footer a:hover {
    color: #fff !important;
    text-decoration: none !important;
}

.footer a:focus {
    color: rgb(211, 211, 211) !important;
    text-decoration: none !important;
}